argparse
whoisit~=2.7.0
whois
dnspython~=2.3.0
requests~=2.31.0
urllib3
icmplib~=3.0.3
pymongo~=4.3.3
geoip2~=4.7.0
python-dotenv~=1.0.0
pyOpenSSL
pymisp~=2.4.171
click~=8.1.3
whoisdomain~=1.20230525.9
tldextract